.search-course-container {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 31px;
}
.search-course-container input {
    padding: 4px 8px;
    border-radius: 4px;
}