<li
    class="activity activity-wrapper {{module}} modtype_{{module}} {{extraclasses}} {{#hasinfo}}hasinfo{{/hasinfo}} {{#indent}}indented{{/indent}}"
    id="{{anchor}}"
    data-for="cmitem"
    data-id="{{id}}"
>
{{#cmformat}}
    {{$ core_courseformat/local/content/cm}}
        {{> core_courseformat/local/content/cm}}
    {{/ core_courseformat/local/content/cm}}
{{/cmformat}}

{{^editing}}
    <div style="padding: .75rem;">
    {{#tag}}
        {{> format_complexhierarchy/local/tag_display }}
    {{/tag}}
    </div>
{{/editing}}

</li>

