{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_complexhierarchy/local/content/section
    Template purpose and description.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * attributes Array of name / value pairs.
    Example context (json):
    {
    }
}}
{{!
  Include the core content/section template.
                  }}

{{# isFullSectionRendered }}
<li id="section-{{num}}"
    class="section course-section main {{#onlysummary}} section-summary {{/onlysummary}} clearfix
            {{#ishidden}} hidden {{/ishidden}} {{#iscurrent}}{{^displayonesection}} current {{/displayonesection}}{{/iscurrent}}
            {{#isstealth}} orphaned {{/isstealth}}"
    data-sectionid="{{num}}"
    data-sectionreturnid="{{sectionreturnid}}"
    data-for="section"
    data-id="{{id}}"
    data-number="{{num}}"
>
    <div class="section-item">
        <div class="course-section-header d-flex"
            data-for="section_title"
            data-id="{{id}}"
            data-number="{{num}}"
        >
            {{#singleheader}}
            {{$ core_courseformat/local/content/section/header }}
              {{> core_courseformat/local/content/section/header }}
            {{/ core_courseformat/local/content/section/header }}
            {{/singleheader}}
            {{#header}}
            {{$ core_courseformat/local/content/section/header }}
                {{> core_courseformat/local/content/section/header }}
            {{/ core_courseformat/local/content/section/header }}
            {{/header}}
            {{#restrictionlock}}
                <div class="align-self-center ml-2">
                    {{#pix}}t/unlock, core{{/pix}}
                </div>
            {{/restrictionlock}}
            <div data-region="sectionbadges" class="sectionbadges d-flex align-items-center">
                {{$ core_courseformat/local/content/section/badges }}
                    {{> core_courseformat/local/content/section/badges }}
                {{/ core_courseformat/local/content/section/badges }}
            </div>
            {{#collapsemenu}}
                {{^displayonesection}}
                <div class="flex-fill d-flex justify-content-end mr-2 align-self-start mt-2">
                    <a
                        id="collapsesections"
                        class="section-collapsemenu"
                        href="#"
                        aria-expanded="true"
                        role="button"
                        data-toggle="toggleall"
                    >
                        <span class="collapseall text-nowrap">{{#str}}collapseall{{/str}}</span>
                        <span class="expandall text-nowrap">{{#str}}expandall{{/str}}</span>
                    </a>
                </div>
                {{/displayonesection}}
            {{/collapsemenu}}
            {{#controlmenu}}
                {{^displayonesection}}
                    {{$ core_courseformat/local/content/section/controlmenu }}
                        {{> core_courseformat/local/content/section/controlmenu }}
                    {{/ core_courseformat/local/content/section/controlmenu }}
                {{/displayonesection}}
            {{/controlmenu}}
            {{#header}}
                {{#headerdisplaymultipage}}
                    {{^displayonesection}}
                        {{^controlmenu}}
                            <div class="section_goto bulk-hidden ml-auto" data-sectionid="{{id}}">
                                <a href="{{{url}}}"
                                class="btn btn-icon d-flex align-items-center justify-content-center icon-no-margin"
                                title="{{#str}}gotosection, course, {{name}}{{/str}}">
                                        <span class="dir-rtl-hide">
                                            {{#pix}}t/right, moodle{{/pix}}
                                        </span>
                                        <span class="dir-ltr-hide">
                                            {{#pix}}t/left, moodle, {{#str}}gotosection, course, {{name}}{{/str}}{{/pix}}
                                        </span>
                                        <span class="sr-only">
                                            {{#str}}gotosection, course, {{name}}{{/str}}
                                        </span>
                                </a>
                            </div>
                        {{/controlmenu}}
                    {{/displayonesection}}
                {{/headerdisplaymultipage}}
            {{/header}}
            </div>
            <div id="coursecontentcollapse{{num}}"
                class="content {{^iscoursedisplaymultipage}}{{^sitehome}}{{^displayonesection}}course-content-item-content collapse {{^contentcollapsed}}show{{/contentcollapsed}}{{/displayonesection}}{{/sitehome}}{{/iscoursedisplaymultipage}}">
                <div class="{{#hasavailability}}description{{/hasavailability}} my-3" data-for="sectioninfo">
                {{#summary}}
                    {{$ core_courseformat/local/content/section/summary }}
                        {{> core_courseformat/local/content/section/summary }}
                    {{/ core_courseformat/local/content/section/summary }}
                {{/summary}}
                {{#availability}}
                    {{$ core_courseformat/local/content/section/availability }}
                        {{> core_courseformat/local/content/section/availability }}
                    {{/ core_courseformat/local/content/section/availability }}
                {{/availability}}
            </div>
            {{#cmsummary}}
                {{$ core_courseformat/local/content/section/cmsummary }}
                    {{> core_courseformat/local/content/section/cmsummary }}
                {{/ core_courseformat/local/content/section/cmsummary }}
            {{/cmsummary}}

            {{^editing}}
              {{#tag}}
                  {{> format_complexhierarchy/local/tag_display }}
              {{/tag}}
            {{/editing}}

            {{#editing}}
                <div data-action="OpenParentEditor" style="cursor: pointer" data-section="{{id}}" data-course="{{courseId}}" data-parent="{{parentId}}">
                    <div class="view" style="pointer-events: none">
                        <strong >Родитель:</strong>
                        <span class="name">
                            {{parentName}}
                        </span>
                        <span class="quickediticon visibleifjs">
                            <i class="icon fa fa-pencil fa-fw " title="Редактировать родителя" role="img" aria-label="Редактировать родителя"></i>
                        </span>
                    </div>
                    <div class="edit" style="display: none"></div>
                </div>
            {{/editing}}

            {{^editing}}
                <div class="section-child">
                    <ul>
                        {{#renderedChildren}}
                            {{> format_complexhierarchy/local/content/section }}
                        {{/renderedChildren}}
                </ul>
                </div>
            {{/editing}}
            
            {{#cmlist}}
                {{#showmovehere}}
                    <p>{{movingstr}} (<a href="{{{cancelcopyurl}}}">{{#str}} cancel {{/str}}</a>)</p>
                {{/showmovehere}}
                <ul class="section m-0 p-0 img-text {{#hascms}} d-block {{/hascms}}" data-for="cmlist">
                    {{#cms}}
                        {{#showmovehere}}
                            <li class="movehere">
                                <a href="{{{moveurl}}}" title="{{strmovefull}}" class="movehere"></a>
                            </li>
                        {{/showmovehere}}
                        {{#cmitem}}
                            {{$ core_courseformat/local/content/section/cmitem}}
                              {{> format_complexhierarchy/local/content/section/cmitem}}
                            {{/ core_courseformat/local/content/section/cmitem}}
                        {{/cmitem}}
                    {{/cms}}
                    {{#showmovehere}}
                        <li class="movehere">
                            <a href="{{{movetosectionurl}}}" title="{{strmovefull}}" class="movehere"></a>
                        </li>
                    {{/showmovehere}}
                </ul>

            {{/cmlist}}
            {{{cmcontrols}}}

        </div>
    </div>

    {{#insertafter}}
        {{#numsections}}
            {{$ core_courseformat/local/content/addsection}}
                {{> core_courseformat/local/content/section/addsectiondivider }}
            {{/ core_courseformat/local/content/addsection}}
        {{/numsections}}
    {{/insertafter}}
</li>
{{/ isFullSectionRendered }}
