{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_complexhierarchy/local/content
    Template purpose and description.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * attributes Array of name / value pairs.
    Example context (json):
    {
    }
}}

<style>

 .entity-tags__block {
 }
 .btn-custom--rounded {
     border-radius: 50%;
 }

 
 .btn-sm.btn-custom--rounded {
     font-size: 11px;
 }

 .entity-tags__buttons {
     margin-left: 15px;
 }

 .entity-tags__buttons--edit,
 .entity-tags__buttons--view,
 .entity-tags__buttons--add-new {
     display: none;
 }
 
 .entity-tags--view .entity-tags__buttons--view {
     display: initial;
 }
 .entity-tags--edit .entity-tags__buttons--edit {
     display: initial;
 }
 .entity-tags--add-new .entity-tags__buttons--add-new {
     display: initial;
 }

 .break-flex-row {
     flex-basis: 100%;
     height: 0;
 }

 .entity-tags__tags-cloud {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     font-size: 12px;
     gap: 15px;
 }

 .entity-tags__tags-cloud li {
     text-decoration: underline;
 }

 .remove-tag-button {
     
 }

 .entity-tags__tag--global {
     color: #7045ff;
 }

 #collapsesections {
     display: none;
 }
</style>

<div id="course-format-{{uniqid}}">
    <h2 class="accesshide">{{{title}}}</h2>

    {{#tag}}
        {{> format_complexhierarchy/local/tag_display }}
    {{/tag}}
            
    {{{completionhelp}}}
    <ul class="{{format}}" data-for="course_sectionlist">
        {{#initialsection}}
            {{$ core_courseformat/local/content/section }}
                {{> core_courseformat/local/content/section }}
            {{/ core_courseformat/local/content/section }}
        {{/initialsection}}

        {{#sections}}
            {{> format_complexhierarchy/local/content/section }}
        {{/sections}}
    </ul>
    {{#hasnavigation}}
    <div class="single-section">
        {{#sectionnavigation}}
            {{$ core_courseformat/local/content/sectionnavigation }}
                {{> core_courseformat/local/content/sectionnavigation }}
            {{/ core_courseformat/local/content/sectionnavigation }}
        {{/sectionnavigation}}
        <ul class="{{format}}">
        {{#singlesection}}
            {{$ core_courseformat/local/content/section }}
                {{> core_courseformat/local/content/section }}
            {{/ core_courseformat/local/content/section }}
        {{/singlesection}}
        </ul>
        {{#sectionselector}}
            {{$ core_courseformat/local/content/sectionselector }}
                {{> core_courseformat/local/content/sectionselector }}
            {{/ core_courseformat/local/content/sectionselector }}
        {{/sectionselector}}
    </div>
    {{/hasnavigation}}
    {{#numsections}}
        {{^singlesection}}
            {{$ core_courseformat/local/content/addsection}}
                {{> core_courseformat/local/content/addsection}}
            {{/ core_courseformat/local/content/addsection}}
        {{/singlesection}}
    {{/numsections}}
    {{#bulkedittools}}
        {{$ core_courseformat/local/content/bulkedittools}}
            {{> core_courseformat/local/content/bulkedittools}}
        {{/ core_courseformat/local/content/bulkedittools}}
    {{/bulkedittools}}
</div>

<script src="/course/format/complexhierarchy/scripts/HierarchyCourseEditor.js"></script>
<script src="/course/format/complexhierarchy/scripts/TagEditor.js"></script>

{{#js}}
    require(['core_courseformat/local/content'], function(component) {
       component.init('course-format-{{uniqid}}', {}, {{sectionreturn}});
    });

    var moduleData = {
       sections: {}
    };
    {{#sections}}
        moduleData.sections[{{id}}] = "{{header.name}}";
    {{/sections}}

    require(['format_complexhierarchy/moodle'], function(moodle){
    HierarchyCourseEditor.Init(moodle, moduleData);
    TagEditor.Init(moodle);
    })
{{/js}}
