{{!
    @template format_complexhierarchy/local/tag_display
    Template purpose and description.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * attributes Array of name / value pairs.
    Example context (json):
    {
    }
}}

<div class="entity-tags__block entity-tags--view">

    <div class="entity-tags__tags">
        <h6>
            {{label}}

            <span
                class="entity-tags__buttons--view"
                data-action="StartEditingTags"
                title="Редактировать теги"
            >
                <i class="fa fa-pencil"></i>
            </span>

            <button class="btn btn-primary btn-sm btn-custom--rounded entity-tags__buttons--edit"
                    data-action="OpenAddingTag"
                    title="Добавить тег"
            >
                <i class="fa fa-plus"></i>
            </button>

            <button class="btn btn-secondary btn-sm btn-custom--rounded entity-tags__buttons--edit"
                    data-action="CloseEditingTags"
                    title="Закрыть редактирование"
            >
                <i class="fa fa-times"></i>
            </button>
        </h6>

        <ul class="entity-tags__tags-cloud">
            {{#tags}}
                <li class="entity-tags__tag {{css_class}}">
                    {{name}}
                    
                    <span data-action="RemoveTag" class="remove-tag-button entity-tags__buttons--edit" data-id="{{id}}" title="Удалить тег">
                        <i class="fa fa-times"></i>
                    </span>
                </li>
            {{/tags}}
        </ul>
    </div>

    <div class="break-flex-row"></div>

    <div class="entity-tags__buttons entity-tags__buttons--add-new">

        <form method="POST">
            <input name="tag_entity_type" type="hidden" value="{{entity_type}}"/>
            <input name="tag_entity_id" type="hidden" value="{{ entity_id }}"/>

            <div class="form-group">
                <label for="NewTag__Name">Тэг</label>
                <input id="NewTag__Name" name="tag_name" type="text" value="" class="form-control" />
            </div>

            <div class="form-check">
                <input id="NewTag__IsGlobal" name="tag_is_global" type="checkbox" class="form-check-input" />
                <label class="form-check-label" for="NewTag__IsGlobal">Глобальный</label>
            </div>

            <div class="text-right">
                <button class="btn btn-primary btn-sm"
                        data-action="AddTagToEntity"
                >
                    Добавить
                </button>

                <button class="btn btn-secondary btn-sm btn-custom--rounded"
                        data-action="CloseAddingTag"
                        title="Закрыть редактирование"
                >
                    <i class="fa fa-times"></i>
                </button>
            </div>
            
            
        </form>

    </div>
    
</div>
